---
name: Lint Code Base

on: # yamllint disable-line rule:truthy
  pull_request:
    branches: [main]


jobs:
  lint:
    name: Super-Linter
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Super-linter
        uses: super-linter/super-linter@v8.3.0
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: false 
          VALIDATE_PYTHON: true
          VALIDATE_YAML: true